.chart {
  flex: 4;
  box-shadow: 11px 11px 23px -8px rgba(0,0,0,0.48);
 -webkit-box-shadow: 11px 11px 23px -8px rgba(0,0,0,0.48);
 -moz-box-shadow: 11px 11px 23px -8px rgba(0,0,0,0.48);
 padding: 10px;
 color: gray;

 .title {
  margin-bottom: 20px;
 }

 .chartGrid {
  stroke: lightgray;
 }
}